*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  padding: 133px 30px;
  inline-size: inherit;
  block-size: inherit;
}

.result__video-container {
  position: relative;
  padding-bottom: 16px;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: .94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 26px;
  inline-size: inherit;
  block-size: inherit;
}

.content__list {
  position: relative;
  overflow: auto;
  block-size: 298px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  color: #fff;
  font-style: normal;
  text-decoration: none;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: .9;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  inline-size: 394px;
  block-size: 107px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  block-size: 103px;
  inline-size: 194px;
}
